* {
	box-sizing: border-box;
}

html {
	--background-color: #EEE;
	--page-color: #FFF;
	--ribbon-color: #ffc107;
	background-color: var(--background-color);
	color: #111;
}

body {
	background-color: var(--page-color);
	min-height: 100vh;
	max-width: 1000px;
	margin: 0 auto;
	padding: 25px 0;
	
	box-shadow: 0 0 50px 5px #DDD;
}

body > * {
	margin: 0 25px;
}

h1 {
	background-color: var(--ribbon-color);
	width: 100%;
	margin: 0;
	padding: 15px 25px;
	color: #111;
}

main {
	display: flex;
	padding: 25px;
}

main > * {
	box-shadow: 0 0 50px 5px #CCC;
}

#viz {
	height: 500px;
	max-width: 500px;
}

.sidebar {
	flex: 1;
	height: 500px;
	max-width: 500px;
	overflow-y: scroll;
}

.movelog li {
	padding-left: 10px;
}

@media (max-width: 780px) {
	body {
		padding-top: 0;
	}
	
	main {
		flex-direction: column;
	}
	
	.sidebar {
		height: auto;
	}
}
